* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-left {
  display: flex;
  gap: 50px;
  align-items: center;
}

.contact-btn {
  background-color: blue;
  border-radius: 4px;
  padding: 7px 15px;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  border: none;
  display: flex;
  align-items: center;
}

.parent-wrapper {
  margin: 0 120px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

#nav-links-wrapper {
  list-style-type: none;
  display: flex;
}

#nav-links-wrapper a {
  text-decoration: none;
  color: black;
}

.recipes-menu a {
  text-decoration: none;
  color: grey;
  width: 50%;
}

.recipes-menu ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

#nav-links-wrapper a:hover,
.recipes-menu a:hover {
  color: blue;
  transition: color 0.5s ease;
}

.nav-links {
  margin: 0 10px;
}

.contact-button-wrapper {
  display: flex;
  align-items: center;
}

.hero-banner {
  background-image: url('../assets/main.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  height: 250px;
  width: 100%;
  margin-bottom: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipes-menu-header {
  font-size: 24px;
  margin-bottom: 10px;
}

.recipes-section {
  width: 100%;
  display: flex;
}

.recipes-section aside {
  width: 20%;
}

.recipes-wrapper {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recipe {
  width: 32%;
  margin-bottom: 25px;
}

.recipe-image {
  width: 100%;
  height: 150px;
  border-radius: 5px;
}

.recipe-title {
  margin: 10px 0 4px;
}

footer {
  color: white;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
  padding: 25px;
}

footer a {
  text-decoration: none;
}
